footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.jumbotron {
background-image: url("../images/matt-hoffman-310320.jpg");
background-size: cover;
color: white;
}
hr {
  color: white;
  background-color: white;
}
h1 {
  text-align: center;
}
